$bg-color: #222222;
$bg-header: #a80202;
$white: #ffffff;
$transparent: rgb(255, 255, 255, 0.1);
$font-text: 'Open Sans', helvetica, arial, sans-serif;
$font-title: 'Montserrat', helvetica, arial, sans-serif;