<section id="aboutGame">
    <div class="aboutDetails">
        <div id="banner">
            <img src="/images/{{gameData.game_img2}}" alt="Game Image">
        </div>
        <div id="video">
            <video controls src="/videos/{{gameData.game_vid}}" alt="Game Trailer" />
        </div>
        <div class="gameInfo">
            <p>Released in {{gameData.game_release}}</p>
            <p>Description: {{gameData.game_desc}}</p>
        </div>
    </div>
</section>
