<!DOCTYPE html>
<html>
  <head>
    <title>Favourite Things</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600' />
  </head>
  <body> 
    <header>
        <nav>
          <a href="/">
            <img src="/images/logo.png" alt="Nintendo Switch">
          </a>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p class="float-left">
			  &copy; Not Nintendo Switch
		  </p>
    </footer>
  </body>
</html>
