#gamesMain{
    text-align: center;
    margin-top: 5vh;
    h1{
        font-family: $font-title;
        font-size: 46px;
        font-weight: 200;
        text-decoration: underline;
    }
}

#games { 
    text-align: center; 
    margin-top: 5vh; 
    margin-bottom: 5vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gamesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    background-color: $transparent;
    padding-bottom: 2vh;
    padding-top: 2vh;
    h3{
        padding-bottom: 1vh;
        font-size: 36px;
        font-weight: 400;
    }
    .gamesDetails{
        height: auto;
        width: 40vh;
        cursor: pointer;
    }
    img{
        width: 80%;
    }   
}

@media screen and (min-width: 1000px){
    #gamesMain{
        h1{
            padding-top: 2vh;
            padding-bottom: 3vh;
            font-size: 38px;
            font-weight: 300;
        }
    }
    .gamesContainer{
        width: 30%;
        padding-bottom: 4vh;
        padding-top: 4vh;
        h3{
            padding-bottom: 2vh;
            font-size: 20px;
            font-weight: 300;
        }
        .gamesDetails{
            height: auto;
            width:35vh;
        }
        img{
            width: 80%;
        }
    }
    #games{
        padding-bottom: 5vh;
    }
}

